@{
    ViewData["Title"] = "Budget";
}
<head>

</head>


<div class="container bootstrap snippets bootdeys" id="adminDiv">

    <!-- Edit User Modal -->
    <div class="modal fade" id="editUserModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit User Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editUserForm" data-bind="submit: $root.submitEditedUserInfo">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" id="editUsername" data-bind="textInput: adminObject().username()" required />

                        <label for="mobile">Mobile</label>
                        <input class="form-control" type="text" id="editMobile" data-bind="textInput: adminObject().mobile()" required />

                        <br />

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Rest of Budget Page HTML -->
    <div class="text-center">
        <h2 class="title">"Organize All" Users</h2>
    </div>
    <br>
    <div class="input-group left-icon">
        <input id="search" type="text" class="form-control" placeholder="Search for a User" aria-expanded="false" aria-owns="awesomplete_list_2" role="combobox">
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Mobile</th>
                    @*<th scope="col">Edit</th>*@
                    <th scope="col">Delete</th>
                </tr>
            </thead>

            <tbody>
                <!-- ko foreach: userInfo -->
                <tr>
                    <td>
                        <a data-bind="text: username"></a>
                    </td>
                    <td>
                        <a data-bind="text: firstName"></a>
                    </td>
                    <td>
                        <a data-bind="text: lastName"></a>
                    </td>
                    <td>
                        <a data-bind="text: mobile"></a>
                    </td>
                    @*<td>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editUserModal" data-bind="click: $root.editInfo">Edit Info</button>
                    </td>*@
                    <td>
                        <button type="button" class="btn btn-danger" data-bind="click: $parent.deleteUser"><i class="fa fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script src="~/js/Admin.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var adminViewModel = new AdminViewModel();
            ko.applyBindings(adminViewModel, document.getElementById("adminDiv"));
            adminViewModel.getUserInfo();
        })
    </script>
}