@{
    ViewData["Title"] = "Budget";
}
<head>
    
</head>

<h2>Welcome to your Budget Page @ViewBag.Username</h2>

<div class="container bootstrap snippets bootdeys" id="budgetDiv">
    <button type="submit" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addExpenseModal">Add an Expense</button>

    <!-- Add Expense Modal -->
    <div class="modal fade" id="addExpenseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add an Expense</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addExpenseForm" data-bind="submit: $root.submitUserExpense">
                        <label for="expenseTitle">Expense Title</label>
                        <input class="form-control" type="text" id="expenseTitle" required />

                        <label for="expenseValue">Amount</label>
                        <input class="form-control" type="number" min="0" step="0.01" id="expenseValue" required />

                        <label for="expenseDescription">Description</label>
                        <textarea class="form-control" type="text" id="expenseDescription" required ></textarea>

                        <label for="expenseCreationDate">Start Time</label>
                        <input type="datetime-local" placeholder="Select DateTime" class="form-control" id="expenseCreationDate" />

                        <br />

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Expense</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Expense Modal -->
    <div class="modal fade" id="editExpenseModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Expense</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editExpenseForm" data-bind="submit: $root.submitEditedUserExpense">
                        <label for="expenseTitle">Title</label>
                        <input class="form-control" type="text" id="editExpenseTitle" data-bind="textInput: userExpensesObject().expenseTitle()" required />

                        <label for="expenseValue">Amount (Do not include a Dollar Sign)</label>
                        <input class="form-control" type="text" id="editExpenseValue" data-bind="textInput: userExpensesObject().expenseValue()" required />

                        <label for="expenseDescription">Description</label>
                        <textarea class="form-control" type="text" id="editExpenseDescription" data-bind="textInput: userExpensesObject().expenseDescription()" required ></textarea>

                        <label for="expenseCreationDate">Date</label>
                        <input type="datetime-local" class="form-control" id="editExpenseCreationDate" data-bind="textInput: userExpensesObject().expenseCreationDate()" />

                        <br />

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Last 7 Days Modal -->
    <div class="modal fade" id="last7DaysModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Total Expenses For The Last 7 Days</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <h3 class="pastdays" data-bind="text: past7"></h3>

                        <br />

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Last 30 Days Modal -->
    <div class="modal fade" id="last30DaysModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Total Expenses For The Last 30 Days</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <h3 class="pastdays" data-bind="text: past30"></h3>

                        <br />

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Rest of Budget Page HTML -->
    <br>
    <br>
    <h1 class="title">Expense Tracking</h1>
    <div class="table-responsive">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#last7DaysModal" data-bind="click: $root.past7days">Total Expenses for Last 7 Days</button>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#last30DaysModal" data-bind="click: $root.past30days">Total Expenses for Last 30 Days</button>
        <h5>Click Column Headers to Sort</h5>
        <div class="input-group left-icon">
            <span class="input-group-addon input-icon">
                <span class="fa fa-search"></span>
            </span>
            <input id="search" type="text" class="form-control" placeholder="Search for an Expense" aria-expanded="false" aria-owns="awesomplete_list_2" role="combobox">
        </div>
        <div class="noItemsDiv table-bordered" data-bind="visible: noExpenses">
            <h3 class="noExpensesLabel">No Expenses Yet</h3>
        </div>
        <table class="table table-striped" id="myTable" data-bind="visible: expensesAvailable">
            <thead>
                <tr>
                    <th scope="col" data-bind="sort: { arr: userExpenses, prop: 'expenseTitle' }">Title</th>
                    <th scope="col" data-bind="sort: { arr: userExpenses, prop: 'expenseValue' }">Amount</th>
                    <th scope="col" data-bind="sort: { arr: userExpenses, prop: 'expenseCreationDate' }">Date</th>
                    <th scope="col" data-bind="sort: { arr: userExpenses, prop: 'expenseDescription' }">Description</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>

            <tbody>
                <!-- ko foreach: userExpenses -->
                <tr>
                    <td>
                        <a data-bind="text: expenseTitle"></a>
                    </td>
                    <td>
                        $<a data-bind="text: expenseValue"></a>
                    </td>
                    <td>
                        <a data-bind="text: expenseCreationDate"></a>
                    </td>
                    <td>
                        <a data-bind="text: expenseDescription"></a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editExpenseModal" data-bind="click: $root.editExpense">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bind="click: $parent.deleteExpense">Delete</button>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>


@section scripts {
    <script src="~/js/Budget.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var budgetViewModel = new BudgetViewModel(@ViewBag.userID);
            ko.applyBindings(budgetViewModel, document.getElementById("budgetDiv"));
            budgetViewModel.getUserExpenses();
        })
    </script>
}