@{
    ViewData["Title"] = "Calendar";
}


<div class="container bootstrap snippets bootdeys" id="calendarDiv">

    <!-- Create Event Modal -->
    <div class="modal fade" id="createEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createNoteForm" data-bind="submit: $root.submitUserEvent">
                        <label for="eventTitle">Title</label>
                        <input class="form-control" placeholder="Add a Title" type="text" id="eventTitle" required>

                        <label for="eventDescription">Description</label>
                        <textarea class="form-control" placeholder="Add a Description" type="text" id="eventDescription" required></textarea>

                        <label for="eventStartTime">Start Time</label>
                        <input type="datetime-local" placeholder="Select DateTime" class="form-control" id="eventStartTime" />

                        <label for="eventEndTime">End Time</label>
                        <input type="datetime-local" placeholder="Select DateTime" class="form-control" id="eventEndTime" />

                        <br />

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Event</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Event Modal -->
    <div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editEventForm" data-bind="submit: $root.submitEditedUserEvent">

                        <label for="eventTitle">Title</label>
                        <input class="form-control" type="text" id="editEventTitle" data-bind="textInput: userCalendarObject().eventTitle()" required>

                        <label for="eventDescription">Description</label>
                        <textarea class="form-control" type="text" id="editEventDescription" data-bind="textInput: userCalendarObject().eventDescription()" required></textarea>

                        <label for="eventStartTime">Start Time</label>
                        <input type="datetime-local" class="form-control" id="editEventStartTime" data-bind="textInput: userCalendarObject().eventStartTime()" />

                        <label for="eventEndTime">End Time</label>
                        <input type="datetime-local" class="form-control" id="editEventEndTime" data-bind="textInput: userCalendarObject().eventEndTime()" />

                        <br />

                        <div class="text-center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" data-bind="click: favoriteEvent"><i class="fa fa-solid fa-heart"></i></button>
                            <button type="button" data-bind="click: deleteEvent" class="btn btn-danger"><i class="fa fa-solid fa-trash"></i></button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <h2>Welcome to your Calendar Page @ViewBag.Username</h2>
        <button type="submit" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#createEventModal">Create a new Event</button>
    </div>
    <br />

    <div id="calendar"></div>
    <br />
    <br />

    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
</div>


@section scripts {
    <script src="~/js/Calendar.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var calendarViewModel = new CalendarViewModel(@ViewBag.userID);
            ko.applyBindings(calendarViewModel, document.getElementById("calendarDiv"));
            calendarViewModel.getUserEvents();
        })
    </script>
}
