@model IEnumerable<SeniorProject.Models.UserAccount>
@{
    ViewData["Title"] = "Info Page";
}

<div class="text-center">
    <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6 offset-lg-3">
            <h1>Welcome to "Organize All!"</h1>
            <p>Organize All is a User-Authenticated Web Application designed to help you create and manage notes, lists, reminders, calendar events, and expenses. In this Web Application you have access to each of these features so that you may use them as you please. The goal of this project has been to centralize necessary tools that are used every day when attempting to organize your time and tasks. Organize All places 5 necessary organization features into one site so that organizing what is important to you is quick and efficient.</p>
            <h2>Get Started</h2>
            <p>Get started by registering an account on the register page. Upon registration navigate to the login page to begin your organization journey.</p>
            <h2>Administrator Contact Information</h2>
            <p>If you have any questions or notice issues within the application you may contact the administrator of this Web Application via email at nathanslack@yahoo.com.</p>
        </div>
    </div>
</div>