@model SeniorProject.Models.UserAccount
@{
    ViewData["Title"] = "Login";
}

<div class="text-center" style="align-items: center">

    <h2>Login</h2>

    <form asp-controller="Home" asp-action="Login" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="username" class="col-md control-label">Username</label>
        <div class="col-md-4 offset-md-4">
            <input asp-for="username" class="form-control" />
            <span asp-validation-for="username" class="text-danger"></span>
        </div>
        <label asp-for="password" class="col-md control-label">Password</label>
        <div class="col-md-4 offset-md-4">
            <input asp-for="password" class="form-control" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-dark">Login</button>
        </div>
    </form>

</div>