@{
    ViewData["Title"] = "Notes";
}

<h2>Welcome to your Notes Page @ViewBag.Username</h2>

<div class="container bootstrap snippets bootdeys" id="notesDiv">
    <button type="submit" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#createNoteModal">Create a new Note</button>

    <!-- Create Note Modal -->
    <div class="modal fade" id="createNoteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createNoteForm" data-bind="submit: $root.submitUserNote">
                        <label for="noteTitle">Note Title</label>
                        <input class="form-control" type="text" id="noteTitle" required>

                        <label for="noteValue">Note Content</label>
                        <input class="form-control" type="text" id="noteValue" required>

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Note</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Rest of Notes Page HTML -->
    <br>
    <br>
    <div class="input-group left-icon">
        <span class="input-group-addon input-icon">
            <span class="fa fa-search"></span>
        </span>
        <input id="search" type="text" id="search" class="form-control" placeholder="Search for a Note" aria-expanded="false" aria-owns="awesomplete_list_2" role="combobox">
    </div>
    <div class="row" id="notes">
        <!-- ko foreach: userNotes -->
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                <div class="content">
                    <h6 class="category">@ViewBag.Username</h6>
                    <h4 class="title" data-bind="text: noteTitle"></h4>
                    <p class="description" data-bind="text: noteValue"></p>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>

@section scripts {
    <script src="~/js/Notes.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var notesViewModel = new NotesViewModel(@ViewBag.userID);
            ko.applyBindings(notesViewModel, document.getElementById("notesDiv"));
            notesViewModel.getUserNotes();
        })        
    </script>
}